@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #faf7f2;
  color: #1e1d23;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #ff8e28;
  border-radius: 10px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button,
input,
textarea {
  background-color: transparent;
  border: none;
  outline: none;
}
.container {
  padding: 0 5%;
}
.cText {
  text-transform: capitalize;
}
.uText {
  text-transform: uppercase;
}
img {
  width: 100%;
}
